<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579739943282-ptv03n9miot6egm6dk5d3nn9p3gq5o20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579739943282-ptv03n9miot6egm6dk5d3nn9p3gq5o20</string>
	<key>API_KEY</key>
	<string>AIzaSyCCtdpSS5dBf8GQacF3zbdkDs4V-V5m6t4</string>
	<key>GCM_SENDER_ID</key>
	<string>579739943282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhukov.DunamicLinks</string>
	<key>PROJECT_ID</key>
	<string>dinamiclinks-a9592</string>
	<key>STORAGE_BUCKET</key>
	<string>dinamiclinks-a9592.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579739943282:ios:c19fcc0812bf581e455deb</string>
</dict>
</plist>